<mat-card class="english-activity-card">
  <mat-card-title class="english-activity-level-title">Level 1</mat-card-title>
  <mat-card-content>
    <div class="english-activity-description">
      <p>Questionnaire to identify learning style of the user</p>
      <div class="english-activity-favorite-icon">
        <mat-icon>favorite_border</mat-icon>
      </div>
      <div class="english-activity-button">
        <button mat-raised-button color="primary" type="submit">GO</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
