<div *ngIf="task1" class="english-questionnaire-container">
  <mat-card>
    <mat-card-title>What Does VARK Stands For ?</mat-card-title>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem"
          >V- Visual ( Learning by seeing)</mat-list-item
        >
        <mat-list-item role="listitem"
          >A- Aural ( Learning by speaking)</mat-list-item
        >
        <mat-list-item role="listitem"
          >R- Read/write (Learning by Reading and writing)</mat-list-item
        >
        <mat-list-item role="listitem"
          >K- kinaesthetic (Learning by doing,acting and real-life
          examples)</mat-list-item
        >
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>What kind of book would you like to read?</mat-card-title>
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionOneAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >A book with lots of pictures in it
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >A book with CD
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >A book with lots of answers to practice
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >A book with word searches or crossword puzzles
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >When you are not sure how to spell a word, what are you most likely to
      do?</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionTwoAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >To understand the spelling by watching video and create mind map
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Spell it out loud to see if it sounds right
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Write it down to see if it looks right
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Trace the letters in the air (finger spelling)
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >What's the best way for you to study for a test?</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionThreeAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >The book or your notes and review pictures or charts
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Have someone ask you questions that you can answer out loud
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Read and write the answer for the questions and practice
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Make up index cards that you can review
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >What is the best way for you to remember a Grammar?</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionFourAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Create flash cards to remeber a sentence
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Listen the sentence carefully by audio type of questions
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Write it down in the notepad and read
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Make Physical interactions and learn
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>How you will be memorize the poem?</mat-card-title>
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionFiveAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Use picture books to Visualize
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Say it loud and record and listen twice
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Read and write the poem twice
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Do actions and play games related to the poem
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >What type method you will be learn for english subject?</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionSixAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Studying on your own using different tools like books, magazines,
          comics
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Listen and read by subscribing English subject youtube channel
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Read and write what you have learn
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Go to classes
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >What is the best way to learn lessons for English
      subjects?</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionSevenAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Study phrases not words and create charts or mind map
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Learn by listening to the video
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Read and write the whole lessons and understand the concept
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Take an online lesson with activities
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>How do you learn comprehension?</mat-card-title>
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionEightAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Picture of the things that are being described in the text
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Ask questions about the text and answer and say it loud
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Summarize the main points of a text and practice
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Reading frequently will help to learn new words and interpret
          different meanings
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    style="text-align:center"
  >
    Submit
  </button>
</div>
<div *ngIf="readingLevel1" class="english-questionnaire-container">
  <mat-card>
    <mat-card-title>1. I ate a piece of chocolate cake</mat-card-title>
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionOneAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Active
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Passive
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >2. The librarian read the book to the students.</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionOneAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Active
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Passive
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>3. The money was stolen.</mat-card-title>
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionOneAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Active
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Passive
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>4. They are paid on Fridays.</mat-card-title>
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionOneAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Active
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Passive
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>5. The movie is being made in Hollywood.</mat-card-title>
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionOneAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Active
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Passive
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>6. I bought a beautiful dress at the mall.</mat-card-title>
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionSixAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Conjuction
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Preposition
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Adjective
        </mat-radio-button>
        <mat-radio-button class="question-radio-button">Verb </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>7. What did she ask you to do?</mat-card-title>
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionSevenAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Conjuction
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Preposition
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Pronoun
        </mat-radio-button>
        <mat-radio-button class="question-radio-button">Noun </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>8. I left my shoes under the kitchen table.</mat-card-title>
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionEightAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Adjective
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Preposition
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Pronoun
        </mat-radio-button>
        <mat-radio-button class="question-radio-button">Verb </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >9. If we finish our work quickly we can go to the movies.</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionSevenAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Conjuction
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Preposition
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Pronoun
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Adverb</mat-radio-button
        >
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>10. On Saturdays I work from nine to five.</mat-card-title>
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionEightAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Adjective
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Preposition
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Pronoun
        </mat-radio-button>
        <mat-radio-button class="question-radio-button">Verb</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    style="text-align:center"
  >
    Submit
  </button>
</div>
<div *ngIf="visualLevel1" class="english-questionnaire-container">
  <mat-card>
    <mat-card-title
      >1. This problem __________ by your brother yesterday.</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionOneAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Was solved
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Is solved
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Will be solved
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Solves
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >2. My father wrote this book. It _____________ by my
      father.</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionOneAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Will be wrote
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Was written
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Was write
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Is written
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>3. This clock ________ in 1750.</mat-card-title>
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionOneAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Is made
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Was made
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Is making
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Will be made
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >4. Bronson scored a goal. Yes, a goal ____________ by
      Bronson.</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionOneAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Is scored
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Will be scored
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Scored
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Was scored
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >5. This job ___________ by my friend next week.</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionOneAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Is done
        </mat-radio-button>
        <mat-radio-button class="question-radio-button">Did </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Will be done
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Was done
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >I want to go to a university in the United States.</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionSixAnswer"
      >
        <mat-radio-button class="question-radio-button">Noun </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Preposition
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Adjective
        </mat-radio-button>
        <mat-radio-button class="question-radio-button">Verb </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >7. I'm sure I've met your girlfriend before.</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionSevenAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Conjuction
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Preposition
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Interjection
        </mat-radio-button>
        <mat-radio-button class="question-radio-button">Verb </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >8. Well, I don't think I'll be home before 6.</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionEightAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Interjection
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Preposition
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Pronoun
        </mat-radio-button>
        <mat-radio-button class="question-radio-button">Verb </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >9. Andy knocked on the door but nobody answered.</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionSevenAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Adjective
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Conjuction
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Pronoun
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Adverb</mat-radio-button
        >
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>10. After lunch let's go out for a coffee.</mat-card-title>
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionEightAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Adjective
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Preposition
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Pronoun
        </mat-radio-button>
        <mat-radio-button class="question-radio-button">Verb</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    style="text-align:center"
  >
    Submit
  </button>
</div>
<div *ngIf="auralLevel1" class="english-questionnaire-container">
  <mat-card>
    <mat-card-title
      >1. This house was __________ my grandfather.</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionOneAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Build for
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Build by
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Builded for
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Built by
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >2. This exercise will ______________ at home by me.</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionOneAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Be doing
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Have done
        </mat-radio-button>
        <mat-radio-button class="question-radio-button">Do </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Be done
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >3. Was the window pane ____________ the children?</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionOneAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Broke
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Broken By
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Broken for
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Broke for
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >4. All the beds were _________ my grandmother.</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionOneAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Made by
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Made for
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Make by
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Make for
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >5. Many writers were __________ Shakespeare.</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionOneAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Influence by
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Influenced by
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Influence for
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Influenced for
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >6. I want to go to a university in the United States.</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionSixAnswer"
      >
        <mat-radio-button class="question-radio-button">Noun </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Preposition
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Adjective
        </mat-radio-button>
        <mat-radio-button class="question-radio-button">Verb </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >7. I'm sure I've met your girlfriend before.</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionSevenAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Conjuction
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Preposition
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Interjection
        </mat-radio-button>
        <mat-radio-button class="question-radio-button">Verb </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >8. Well, I don't think I'll be home before 6.</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionEightAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Interjection
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Preposition
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Pronoun
        </mat-radio-button>
        <mat-radio-button class="question-radio-button">Verb </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title
      >9. Andy knocked on the door but nobody answered.</mat-card-title
    >
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionSevenAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Adjective
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Conjuction
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Pronoun
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Adverb</mat-radio-button
        >
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>10. After lunch let's go out for a coffee.</mat-card-title>
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="question-radio-group"
        [(ngModel)]="questionEightAnswer"
      >
        <mat-radio-button class="question-radio-button"
          >Adjective
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Preposition
        </mat-radio-button>
        <mat-radio-button class="question-radio-button"
          >Pronoun
        </mat-radio-button>
        <mat-radio-button class="question-radio-button">Verb</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    style="text-align:center"
  >
    Submit
  </button>
</div>
<div *ngIf="kinesticLevel1" class="english-questionnaire-container">
  <div class="kinestic-content">
    <div class="kinestic-list">
      <div class="kinestic-container">
        <div class="kinestic-sub-container">
          <section>
            <!-- <mat-list role="list">
              <mat-list-item role="listitem">Verb</mat-list-item>
              <mat-list-item role="listitem">Noun</mat-list-item>
              <mat-list-item role="listitem">Adjective</mat-list-item>
              <mat-list-item role="listitem">Adverb</mat-list-item>
              <mat-list-item role="listitem">Preposition</mat-list-item>
              <mat-list-item role="listitem">Verb</mat-list-item>
              <mat-list-item role="listitem">Noun</mat-list-item>
              <mat-list-item role="listitem">Adjective</mat-list-item>
              <mat-list-item role="listitem">Adverb</mat-list-item>
              <mat-list-item role="listitem">Preposition</mat-list-item>
              <mat-list-item role="listitem">Verb</mat-list-item>
              <mat-list-item role="listitem">Noun</mat-list-item>
              <mat-list-item role="listitem">Adjective</mat-list-item>
              <mat-list-item role="listitem">Adverb</mat-list-item>
              <mat-list-item role="listitem">Preposition</mat-list-item>
            </mat-list> -->
          </section>
          <section></section>
        </div>
      </div>
    </div>
  </div>
  <mat-chip-list
    class="example-chip"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
  >
    <mat-chip class="example-box" cdkDrag *ngFor="let vegetable of vegetables">
      {{ vegetable.name }}
    </mat-chip>
  </mat-chip-list>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    style="text-align:center"
  >
    Submit
  </button>
</div>
